<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MobWeb_ReferralCoupon>
            <version>0.1.0</version>
        </MobWeb_ReferralCoupon>
    </modules>
    <global>
        <blocks>
            <referralcoupon>
                <class>MobWeb_ReferralCoupon_Block</class>
            </referralcoupon>
        </blocks>
        <models>
            <referralcoupon>
                <class>MobWeb_ReferralCoupon_Model</class>
            </referralcoupon>
            <referralcoupon_adminhtml>
              <class>MobWeb_ReferralCoupon_Adminhtml_Model</class>
            </referralcoupon_adminhtml>
            <sendfriend>
                <!-- Rewrite the Mage_Sendfriend_Model_Sendfriend model
                to use our custom send() function that includes the ?ref param -->
                <rewrite>
                    <sendfriend>MobWeb_ReferralCoupon_Model_Sendfriend</sendfriend>
                </rewrite>
            </sendfriend>
        </models>
        <helpers>
            <referralcoupon>
                <class>MobWeb_ReferralCoupon_Helper</class>
            </referralcoupon>
        </helpers>
        <resources>
            <referralcoupon_setup>
                <setup>
                    <module>MobWeb_ReferralCoupon</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </referralcoupon_setup>
        </resources>
        <events>
            <!-- Debugging observer -->
            <!--
            <controller_front_init_before>
                <observers>
                    <referralcoupon_debugging>
                        <class>referralcoupon/observer</class>
                        <method>sendCoupon</method>
                        <type>singleton</type>
                    </referralcoupon_debugging>
                </observers>
            </controller_front_init_before>
            -->
            <!-- Observe the controller_front_init_before event
            that is executed on every page to place the cookie -->
            <controller_front_init_before>
                <observers>
                    <referralcoupon>
                        <class>referralcoupon/observer</class>
                        <method>captureReferral</method>
                        <type>singleton</type>
                    </referralcoupon>
                </observers>
            </controller_front_init_before>
            <!-- Observe the user registration to detect if a referrer
            cookie exists -->
            <customer_register_success>
                <observers>
                    <referralcoupon>
                        <class>referralcoupon/observer</class>
                        <method>captureRegistration</method>
                        <type>singleton</type>
                    </referralcoupon >
                </observers>
            </customer_register_success>
            <!-- Observe the order placement to detect if a referrer
            exists -->
            <sales_order_place_after>
                <observers>
                    <referralcoupon>
                        <class>referralcoupon/observer</class>
                        <method>captureOrder</method>
                        <type>singleton</type>
                    </referralcoupon>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <MobWeb_ReferralCoupon>
                    <files>
                        <default>mobweb_referralcoupon.csv</default>
                    </files>
                </MobWeb_ReferralCoupon>
            </modules>
        </translate>
        <layout>
            <updates>
                <referralcoupon module="referralcoupon">
                    <file>mobweb_referralcoupon.xml</file>
                </referralcoupon>
            </updates>
        </layout>
        <routers>
            <referralcoupon>
                <use>standard</use>
                <args>
                    <module>MobWeb_ReferralCoupon</module>
                    <frontName>referralcoupon</frontName>
                </args>
            </referralcoupon>
        </routers>
    </frontend>
</config>